
input{
    margin:0;
    padding:0;
    box-sizing:content-box;
    vertical-align:top;
    appearance:none;
    border:1px solid #e65d5d;
    color:black;
    border-radius:0;
    font-family:NanumGothic,나눔고딕,'Nanum Gothic','맑은 고딕',HelveticaNeue,DroidSans,Sans-serif,Helvetica;
}

input::-moz-input-placeholder{
    color:#e65d5d;
}

input::-webkit-input-placeholder {
    color:#e65d5d;
}

/* 웹폰트 CSS */
@font-face{font-family:'Nanum Gothic'; src:url(../webfont/NanumGothic.eot)}
@font-face{font-family:'Nanum Gothic'; src:url(../webfont/NanumGothic.woff)}